.btn {
  -webkit-appearance: button;
  padding: 10px 14px;
  border-radius: 8px;
  outline: none;
  border-color: #979797;
  border-width: 1px;
  color: #979797;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f6f6;
  margin: 0 5px;
  cursor: pointer;
  transition: background .3s;
}

.btn:hover {
  background-color: #e6e6e6;
}