.banner {
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 1.5rem;
}
p {
  margin: 10px 0;
}
.description {
  font-size: 12px;
  font-weight: lighter;
  color: #979797;
}

.start {
  display: block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  background-color: 000;
  margin: 100px auto;
  text-align: center;
  text-decoration: none;
}
